.itens-cabecalho{
    background-color: #0b870f;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 30%;
}

.lista-itens{
    display: inline;block-size: auto;
}