.itens-cabecalho{
    background-color: #0b870f;
    color: white;
    display: flex;
    justify-content: space-around;
}

.imagem-cabecalho{
    width: 20%;
}

.lista-itens{
    display: inline-block;
    margin: 5px 16px;
    font-size: 24px;
}