.itens-cabecalho{
    background-color: #0b870f;
    color: white;
    display: flex;
    justify-content: space-around;
}

.agrinho-imagem{
    width: 30%;
}

.lista-itens{
    display: inline-block;
    margin: 3px 16px;
}